@import "tailwindcss";
@layer components {
  body {
    font-family: var(--font-arial-unicode);
    letter-spacing: -0.2px;
  }
  .font-arial {
    font-family: var(--font-arial-unicode);
  }
  .font-poppins {
    font-family: var(--font-poppins);
  }
  .badge {
    @apply px-1 mr-1 rounded text-[11px];
  }
  .badge--PC {
    @apply bg-blue-500;
  }
  .badge--PS {
    @apply bg-blue-800;
  }
  .badge--Xbox {
    @apply bg-lime-600;
  }
  .badge--NS {
    @apply bg-red-600;
  }
}
