@import "tailwindcss";
@layer components {
  .font {
    /* font-family: 'Fjalla One', sans-serif; */
    font-family: "Gasoek One", sans-serif;
    letter-spacing: -0.5px;
  }
  .badge {
    @apply px-1 mr-1 rounded text-[11px];
  }
  .badge--PC {
    @apply bg-blue-500;
  }
  .badge--PS {
    @apply bg-blue-800;
  }
  .badge--Xbox {
    @apply bg-lime-600;
  }
  .badge--NS {
    @apply bg-red-600;
  }
}
