@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;600;700&display=swap');
@import 'tailwindcss';
@layer base {
  body {
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: -0.5px;
  }
}
@layer components {
  .font {
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: -0.5px;
  }
  .badge {
    @apply px-1 mr-1 rounded text-[11px];
  }
  .badge--PC {
    @apply bg-blue-500;
  }
  .badge--PS {
    @apply bg-blue-800;
  }
  .badge--Xbox {
    @apply bg-lime-600;
  }
  .badge--NS {
    @apply bg-red-600;
  }
}
