@import "tailwindcss";
@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: local('Fjalla One'), url('https://fonts.cdnfonts.com/s/13340/FjallaOne-Regular.woff') format('woff');
}
@layer components {
	.font-fo {
		font-family: 'Fjalla One', sans-serif;
	}
	.badge {
		@apply px-1 mr-1 rounded text-[11px];
	}
	.badge--PC {
		@apply bg-blue-500;
	}
	.badge--PS {
		@apply bg-blue-800;
	}
	.badge--Xbox {
		@apply bg-lime-600;
	}
	.badge--NS {
		@apply bg-red-600;
	}
}